<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<!--Add test files here -->
<suite name="ATMECSWEBPAGES">
	<suite-files>
		<suite-file
			path="C:\Users\Srinischal.Thiparani\eclipse-workspace\konakart\src\test\resources\suitefiles\firstscenariosuite.xml" />
		<suite-file
			path="C:\Users\Srinischal.Thiparani\eclipse-workspace\konakart\src\test\resources\suitefiles\secondscenariosuite.xml" />	
	</suite-files>
</suite>